@import "../../Assets/stylesettings/partials/_settings";

.header {
  width: 100%;

  &Container1 {
    width: 100%;
    height: 88px;
    background: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &Top{
    display: flex;
    justify-content: space-between;
    margin: 15px;

    h2 {
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 28px;
      a {
        color: $oldGold;
      }
    }

    h3 {
      font-family: $fontFamily;
      color: $fightingViolet;
      font-size: 20px;
      font-weight: 300;
    }

    .leftCorner {
      display: flex;
      flex-direction: row;

      button {
        margin-left: 10px;
        border: transparent;
        width: 120px;
        height: 40px;
        background-color: $fightingViolet;

        a {
          color: $white;
          font-size: 21px;
          cursor: pointer;
        }

      }
    }



  }
  &Nav {
    @media (max-width: 612px) {
      margin: 10px 5px 0 5px !important;
    }
      margin: 10px 50px 0 50px;
      display: flex;
      justify-content: space-between;
      list-style: none;
      flex-direction: row;



    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      li {
        padding: 0 15px 0 15px;
      }

      @media (max-width: 612px) {
        display: none;
      }

    }


    a:hover {
      color: $fightingViolet;
    }
  }
}

.menuIcon {
  @media (min-width: 613px) {
    display: none;
  }
}

.menuNav {
  position: relative;
  z-index: 1;
  cursor: pointer;
  background-color: $grey;
  font-family: $fontFamily;
  font-size: 21px;
  padding: 10px;
  text-align: center;
  ul {
    list-style: none;
    li {
      padding: 30px;
    }
  }

  a:hover {
    color: $fightingViolet;
  }

}

.hideElement {
  display: none;
}

.showElement {
  display: inline;
}