@import "../../../Assets/stylesettings/partials/_settings";
.dashboard {
  width: 70%;
  margin: auto;

  &Empty {
    margin-top: 150px;

    h4 {
      text-align: center;
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 30px;
    }

    button {
      display: block;
      margin: 25px auto;

      font-size: 26px;
      width: 220px;
      height: 70px;
      border: 2px solid $fightingViolet;
      box-sizing: border-box;
      border-radius: 150px;
      background-color: transparent;
    }

    button:hover {
      background-color: $fightingViolet;
      color: $white;
    }
  }
}

.electionList {
  display: flex;
  flex-wrap: wrap;

  &Card {
    background: linear-gradient(142.76deg, #6B4192 45.14%, #F2C94C 94.73%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    margin-right: 50px;
    text-align: center;
    padding: 66px;
    color: $white;
    font-family: $fontFamily;
    font-size: 21px;
    cursor: pointer;
  }

}
