@import '../../Assets/stylesettings/partials/settings';

.voting {
  width: 50%;
  margin: auto;

  @media (max-width: 800px) {
    width: 70%;
  }

  @media (max-width: 600px) {
    width: 90%;
  }

  @media (max-width: 400px) {
    width: 95%;
  }

  &Position {
    font-size: 31px;
    text-transform: uppercase;
    font-weight: 700;
  }

  &Candidate {
    font-size: 21px;
    text-transform: capitalize;
  }
}


@keyframes click-wave {
  0% {
    height: 35px;
    width: 35px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 100px;
    width: 100px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 35px;
  width: 35px;
  transition: all 0.15s ease-out 0s;
  background: $grey;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: $lightViolet;
}
.option-input:checked {
  background: $fightingViolet;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: $fightingViolet;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}