@import "../../Assets/stylesettings/partials/_settings";

.quote {
  width: 70%;
  @media screen and (max-width: 1090px){
    width: 90%;
  }
  &Mark {

  }

  p {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    color: $black;

    @media screen and (max-width: 1090px){
      font-size: 21px;
    }
  }
}