@import "../../../Assets/stylesettings/partials/_settings";

.singleElection {
  font-family: $fontFamily;
  width: 70%;
  margin: auto;

  &Card {
    margin-top: 100px;
    padding: 20px;
    background: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: $black;

    button {
      padding: 10px;
      background-color: $fightingViolet;
      color: $white;
      border: transparent;
      font-family: $fontFamily;
      font-size: 18px;
    }

  }

  &Wrap {
    padding-top: 20px;
    width: 90%;
    margin: auto;
  }
}