@import "../../Assets/stylesettings/partials/_settings";

.solution {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  @media (max-width: 1090px) {
    flex-direction: column;
  }

  &Card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    width: 299px;
    height: 544px;
    background: #FFFFFF;
    margin: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media (max-width: 1090px) {
      width: 95%;
      margin: 5px 0 55px 0;
      justify-content: normal;
      height: 400px;
    }
  }

  &Image {
    width: 64px;
    height: 77px;
  }

  h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;

    @media (max-width: 1090px) {
      font-size: 24px;
    }
  }

  p {
    padding: 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    text-align: justify;

    @media (max-width: 1090px) {
      font-size: 18px;
      line-height: 1.2;
    }
  }
}