.header {
  width: 100%;
}

.solutionCard {
  width: 90%;
  margin: auto;
  padding-top: 35px;

  @media (max-width: 1090px) {
    padding-top: 50px;
  }
}

.alsoAvailable {
  margin-top: 35px;

  @media (max-width: 1090px) {
    margin-top: 50px;
  }
}

.quote {
  padding-top: 55px;
  width: 70%;
  margin: auto;

  @media (max-width: 1090px) {
    padding-top: 80px;
  }
}

.organizeElection {
  padding-top: 55px;

  @media (max-width: 1090px) {
    padding-top: 80px;
  }
}

.footer {
  padding-top: 55px;

  @media (max-width: 1090px) {
    padding-top: 80px;
  }
}