@import '../../Assets/stylesettings/partials/common';

.loginVoterHeader {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  color: $oldGold;

  &Sub {
    padding-bottom: 5px;
    color: $grey;
    font-size: 15px;
    text-align: center;
  }
}