@import "../../Assets/stylesettings/partials/settings";
.voterHeader {
  width: 100%;
  background: $white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &Wrap {
    width: 80%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;

    h1 {
      color: $oldGold;
      font-size: 31px;
    }

    li {
      display: inline;
      padding-right: 12px;
      list-style: none;
    }
  }
}

.hideNav {
  @media (min-width: 1090px) {
    display: none;
  }
}

.hideNavDesk {
  @media (max-width: 1090px) {
    display: none;
  }
}