@import "./_settings";

.common {
  width: 100%;
  display: flex;
  justify-content: center;

  &Wrap {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  &Header {
   // width: 562px;
   // height: 67px;
    padding: 25px;
    @media (max-width: 320px) {
      font-size: 20px;
    }
    background-color: $fightingViolet;
    text-align: center;

    font-family: $fontFamily;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 30px;
    color: $white;
    //padding-top: 25px;
  }

  &Form {
    padding-left: 90px;

    @media (max-width: 613px) {
      padding: 15px !important;
    }
  }

  &Body {
    width: 562px;
    @media (max-width: 613px) {
      width: 350px !important;
      background-color: $violet;
    }

    @media (max-width: 320px) {
      width: 300px !important;
    }
    padding-bottom: 20px;
    background-color: $violet;
  }
}