@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Montaga:100,300,400,700);

h1, h2, h3, h4, h5, h6, p, div, span, hr , li, ul { margin: 0; padding: 0}
body { font-family: Lato; margin: 0; padding: 0;}

$white: #FFFFFF;
$grey: #828282;
$black: #000000;
$oldGold: #D7BD30;
$violet: #20003C;
$violetLightShade01 : #2E0750;
$fightingViolet: #4B1778;
$lightViolet: #b220ff;
$fontFamily: Lato;

a {
  text-decoration: none;
  color: #222222;
}

