@import "../../Assets/stylesettings/partials/_settings";

.organizeElection {
  width: 100%;
  height: 322px;
  background-color: $violet;
  @media (max-width: 1090px) {
    height: 500px;

  }

  .organizeWrapper {
    width: 95%;
    margin: auto;
  }

  p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.05em;
  }


  h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    color: $white;
    padding: 35px;
  }

  form {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 1090px) {
      flex-direction: column;
      justify-content: space-evenly;


    }
  }

  .organizeInput1 {
    width: 336px;
    height: 71px;
    background: $white;
    border-radius: 5px;
    border: transparent;
    font-size: 26px;
    @media (max-width: 1090px) {
      height: 70px;
      width: 90%;
      //margin-bottom: 15px;
      margin: 0 auto 15px;
    }

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;

    &::placeholder {
      padding: 50px;
      color: $grey;
    }
  }

  .organizeInput2 {
    width: 336px;
    @media (max-width: 1090px) {
      height: 70px;
      width: 90%;
    }
  }

  .organizeInput3 {
    width: 361px;
    @media (max-width: 1090px) {
      height: 70px;
      width: 90%;
    }
  }
  .organizeInput4 {
    width: 122px;
    height: 71px;
    background: $oldGold;
    border-radius: 5px;
    border: transparent;
    @media (max-width: 1090px) {
      height: 60px;
      width: 90%;
      margin: 0 auto 15px;
    }
  }

}