@import "../../Assets/stylesettings/partials/_settings";

.available {
  width: 100%;
  height: 602px;

  background: linear-gradient(46.45deg, #AB7BD4 21.95%, #1B072C 56.5%);

  &Wrapper {
    width: 50%;
    height: 90%;
    margin: auto;
    text-align: center;
  //  color: $white;
    @media screen and (max-width: 1090px){
      width: 95%;
    }

    h2 {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 36px;
      text-align: center;
      color: $white;
      padding: 35px;
    }
  }

  &ElWrapper {
    display: flex;
    justify-content: space-between;

    h3 {
      color: $oldGold;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      padding-bottom: 7px;

      @media screen and (max-width: 1090px){
        font-size: 28px;
      }
    }
  }

  &Image {
    width: 234px;
    height: 396px;
    @media screen and (max-width: 1090px){
      width: 165px;
    }
  }
}