@import "../../Assets/stylesettings/partials/_settings";

.header {
  width: 100%;
  height: 577px;
  margin: auto;
  background: linear-gradient(0.18deg,
          #200934 -38.49%,
          #897400 3.87%,
          rgba(4, 0, 8, 0.798824) 27.73%,
          #20003C 57.41%);

  a {
    color: $white;
  }
  a:hover {
    color: $oldGold;
  }

  &Wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 802px){
      width: 95%;
    }

    &Logo {
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 36px;
      color: $oldGold;
      //margin-top: 50px;
      padding-top: 50px;
      @media screen and (max-width: 802px){
        padding-top: 15px !important;
      }
    }

    &Nav {
      display: flex;

      @media (max-width: 1090px) {
        display: none;
      }
      h3 {
        padding: 50px 30px;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 18px;
        color: #F2F2F2;
      }
      button {
        width: 160px;
        height: 53px;
        border: 2px solid $oldGold;
        box-sizing: border-box;
        background-color: transparent;
        margin-top: 40px;
        margin-left: 20px;
        color: $oldGold;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        cursor: pointer;
        line-height: normal;
        font-size: 18px;
      }
    }
  }

  //secure
  .description {
    width: 80%;
    margin: auto;

    @media screen and (max-width: 802px){
      width: 90%;
    }

    &Sec {
      @media screen and (max-width: 802px){
        padding-top: 50px;
        font-size: 48px !important;
      }
    }

    &Sys {
      @media screen and (max-width: 1090px){
        padding-top: 5px;
        padding-bottom: 30px;
        font-size: 40px !important;
      }
    }

    h1 {
      font-family: Lato;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 64px;
      color: $white;
      @media screen and (max-width: 802px){
       // padding-top: 50px;
        font-weight: 500;
        text-align: center;
      }
    }

    p {
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-size: 24px;
      padding-top: 3px;
      color: $white;

      @media (max-width: 802px) {
        font-size: 19px;
        text-align: center;
      }
    }

    .joinElection {
      display: flex;
      margin-top: 47px;

      input[type=text] {
        width: 394px;
        height: 75px;
        background: $white;
        border: transparent;
        font-size: 35px;

        @media screen and (max-width: 802px){
          width: 200px;
        }

        &::placeholder {
          padding: 20px;
          font-family: Lato;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          font-size: 24px;
          color: $grey;
        }
      }

      input[type=submit] {
        width: 204px;
        height: 77px;
        background: $oldGold;
        margin-left: 10px;
        border: transparent;
        font-family: Lato;
        font-size: 18px;
        color: $white;
        font-weight: 900;
        @media screen and (max-width: 802px){
          width: 120px;
          font-size: 18px;
        }
      }
    }

  }

  &ImageStyle {
    position: relative;
    width: 380px;
    height: 400px;
    left: 950px;
    top: -348px;

    @media (max-width: 1346px) {
      left: 800px;
      width: 380px;
      height: 400px;
    }

    @media (max-width: 1186px) {
      left: 700px;
      width: 360px;
      height: 380px;
    }

    @media (max-width: 1090px) {
      display: none;
    }
  }

}

.hamburgerNav {
  height: 4px;
  cursor: pointer;

  @media (min-width: 1090px) {
    display: none;
  }
}

.hamburgerImg {
  width: 34px;
  height: 34px;
  margin-top: 15px;
  cursor: pointer;
}

.menuNav {
  list-style: none;
  background-color: white;
  padding: 50px 5px 50px 50px;
  position: relative;
  top: 10px;
  right: 90px;

  ul {
    list-style: none;
    font-size: 30px;
    padding: 20px;

    li {
      padding-bottom: 40px;
      cursor: pointer;

      a {
        color: $black;
      }
    }
  }
}
.hideElement {
  display: none;
}
