@import "../../Assets/stylesettings/partials/_settings";

.footer {
  width: 85%;
  margin: 200px auto;
  display: flex;
  justify-content: space-evenly;
  color: $grey;

  @media screen and (max-width: 1090px){
    width: 95%;
  }

  li {
    list-style: none;
    padding-bottom: 18px;
  }

  p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: 200%;
    font-size: 18px;
    text-align: justify;
    letter-spacing: 0.05em;
    @media screen and (max-width: 1090px){
    //  letter-spacing: 0.05em;
      text-align: left;
      line-height: normal;
    }
  }
}