@import "../../../Assets/stylesettings/partials/_settings";

.container {
  width: 60%;
  margin: 100px auto;
}

.candidateBtn {
  padding: 10px;
  border: transparent;
  background-color: $oldGold;
}