@import "../../Assets/stylesettings/partials/_settings";

.dashboardHeader {
  width: 80%;
  margin: auto;

  button {
    width: 120px;
    height: 40px;
    margin-top: 7px;
   // border: 2px solid $fightingViolet;
  //  box-sizing: border-box;
    border-radius: 150px;
    border: transparent;
    background-color: $fightingViolet;
    color: $white;
  }

}

.header {
  width: 100%;

  &Container1 {
    width: 100%;
    height: 110px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &Top{
    display: flex;
    justify-content: space-between;
    margin: 15px;

    h2 {
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 28px;

      a {
        color: $oldGold;

      }
    }

    h3 {
      font-family: Lato;
      color: $fightingViolet;
      font-size: 20px;
      font-weight: 300;
    }


    .leftCorner {
      display: flex;
      flex-direction: row;

      button {
        margin-left: 10px;
        border: transparent;
        width: 120px;
        height: 40px;
        background-color: $fightingViolet;

        a {
          color: $white;
          font-size: 21px;
          cursor: pointer;
        }

      }
    }

  }
  &Nav {
    margin-top: 10px;
    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
    }

    a:hover {
      color: $fightingViolet;
    }
  }
}