@import "../../Assets/stylesettings/partials/settings";

.auth {
  width: 100%;
  margin: auto;
  background-color: $violet;
  overflow: hidden;
  height: 100vh;

  @media screen and (max-width: 802px){
    display: none;
  }


  &Wrapper1 {
    width: 250px;
    height: 550px;
    background: #FFFFFF;
    border-radius: 31px 0 0 31px;


    h2 {
      padding: 40px;
      color: $oldGold;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 28px;

    }

    p {
      padding: 40px 0 0 40px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 36px;
      color: #1B072C;

    }

    button {
      margin: 40px 0 0 40px;
      width: 180px;
      height: 57px;
      background: #1B072C;
      border-radius: 40px;
      color: $white;
      border: transparent;
      font-size: 18px;
      font-family: Lato;
      cursor: pointer;
    }

  }

  &Wrapper2 {
    width: 550px;
    height: 550px;
    background: #4B1778;
    border-radius: 0px 25px 25px 0px;
  }

  .wrapper {
    display: flex;
    margin: 50px auto;
    width: 800px;

  }
  .textWrapper {
    margin: 150px 0 0 90px;

    h2 {
      color: $white;
      font-size: 50px;
    }
  }
}

.registerWrapper1 {
  width: 550px;
  height: 550px;
  background: #FFFFFF;
  border-radius: 31px 0 0 31px;

  .registerForm {
      margin: 40px 0 0 80px;

      h2 {
        color: $oldGold;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 28px;
      }

      h3 {
        padding-top: 25px;
        color: $violet;
      }
  }
}

.registerWrapper2 {
  width: 250px;
  height: 550px;
  background: #4B1778;
  border-radius: 0px 25px 25px 0px;

  .loginText {
      margin: 200px 0 0 40px;

      h2 {
        color: $white;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 20px;
      }

      button {
        width: 163px;
        height: 47px;
        border: 2px solid $white;
        box-sizing: border-box;
        border-radius: 30px;
        margin-top: 10px;
        background-color: transparent;
        color: $white;
        cursor: pointer;

        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 17px;
      }

  }
}

.headerLogo {



}

.hideTextWrapper {
  display: none;
}

.mobileRegister {
  @media only screen and (max-width: 802px) {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    position: fixed;
    background-color: $white;

    &Wrap {
      width: 80%;
      margin: 0 auto;
      color: $fightingViolet;
      text-align: center;
      font-size: 20px;
      font-weight: 300;
      padding-top: 90px;
    }

    &Head {
      padding: 10px;
    }

    &Btn {
    //  margin: 40px 0 0 40px;
      width: 100px;
      height: 40px;
      background: transparent;
      border-radius: 40px;
      color: $fightingViolet;
      border: 2px solid $fightingViolet;
      font-size: 18px;
      font-family: Lato;
      cursor: pointer;

    }
  }
  @media screen and (min-width: 803px) {
    display: none;
  }
}

.mobileLogin {
  @media screen and (max-width: 802px) {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    position: fixed;
    background-color: $fightingViolet;

    &Wrap {
      width: 80%;
      margin: 0 auto;
      color: $white;
      text-align: center;
      font-size: 20px;
      font-weight: 300;
      padding-top: 90px;
    }

    &Head {
      padding: 30px;
    }

    &Btn {
      width: 100px;
      height: 40px;
      background: transparent;
      border-radius: 40px;
      color: $white;
      border: 2px solid $white;
      font-size: 18px;
      font-family: Lato;
      cursor: pointer;
    }

  }

  @media screen and (min-width: 803px) {
    display: none;
  }
}

